#  Basis of Python

In this chapter, we learn basis of python.

## Basis

In [1]:
print('Yankees rule')
print('But not in Boston!')
print('Yankees rule,','but not in Boston!')

Yankees rule
But not in Boston!
Yankees rule, but not in Boston!

In [2]:
pi =3
radius = 11
area = pi *(radius**2)
radius=14
area

363

In [3]:
radius

14

In [4]:
x,y = 2,3
x,y = y,x 
print('x=',x)
print('y=',y)

x= 3
y= 2

## Conditional statement

In [5]:
x = 1
if x%2 == 0:
    print('Even')
else:
    print('Odd')

print('Done with conditional')

Odd
Done with conditional

In [6]:
x =3
if x%2 == 0:
    if x%3 == 0:
        print("Divisible by 2 and 3")
    else:
        print('Divisible by 2 but not 3')
    
elif x%3 == 0:
    print("Divisible by 3")

Divisible by 3

In [7]:
x,y,z = 3,2,3
if x < y and x < z:
    print("x is least")
elif y <z:
    print("y is least")
else:
    print("z is least")

y is least

## str and input

In [8]:
"a"

'a'

In [9]:
"a"+"a"

'aa'

In [10]:
3*"a"

'aaa'

In [11]:
# This does not work since type error happens
"a"*"a"

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
len("abc")

3

In [13]:
"abc"[0]

'a'

In [14]:
"abc"[0:len("abc")] #start 0 end: end-1

'abc'

In [15]:
name = input("Enter your name:")

Enter your name:Tokuma

In [16]:
print("Are you really", name, "?")

Are you really Tokuma ?

In [17]:
n = input("Enter an int:")

Enter an int:3

In [18]:
print(type(n))

<class 'str'>

Since n is str type in python, we need to converse type.

In [19]:
print(type(int(n)))

<class 'int'>

## Loop

In [20]:
x = 3
ans =0
iterleft =x
while iterleft != 0:
    ans += x
    iterleft -=1

print(str(x) + "*" + str(x) + "=", str(ans))

3*3= 9

In [21]:
x =1 
while True:
    if x%11==0 and x%12==0:
        break
    x += 1
print(x, "is divisible by 11 and 12")

132 is divisible by 11 and 12