# Struct, mutable,higher order fucntion

# tuple

Tuple is immutable object.

In [1]:
t1 =()
t2 = (1,"two",3)
print(t1)
print(t2)

()
(1, 'two', 3)

In [2]:
t1 = (1,"two",3)
t2 = (t1,3.25)

In [3]:
print(t2)

((1, 'two', 3), 3.25)

In [4]:
print((t1+t2))

(1, 'two', 3, (1, 'two', 3), 3.25)

In [5]:
print((t1+t2)[3])

(1, 'two', 3)

In [6]:
print((t1+t2)[2:5])

(3, (1, 'two', 3), 3.25)

In [7]:
def intersect(t1,t2):
    result = ()
    for e in t1:
        if e in t2:
            result += (e,)
        
    return result

In [8]:
intersect(t1,t2)

()

In [9]:
def findExtremeDivisors(n1,n2):
    """
    
    Arguments:
    n1; Int, n1>0
    n1; Int, n2>0
    
    return:
    divisors: tuple that contains minimam and maximum
    """
    
    minVal, maxVal = None, None
    
    for i in range(2, min(n1,n2) +1):
        if n1%i==0 and n2%i==0:
            if minVal == None:
                minVal = i
            maxVal = i
    
    return (minVal,maxVal)

In [10]:
mindivisor, maxdivisor = findExtremeDivisors(100,200)

In [11]:
mindivisor

2

In [12]:
maxdivisor

100

## Range

Range is also immutable. we use less memory that saves  Range object than that saves tuple.

Since the range is determind by start, end and step, we can save memory.

In [16]:
range(0,7,2)== range(0,8,2)

True

If step is positive, the last element of range is the maximum integer that is smaller than stop.

If step is negative, the last element of range is the minimum integer that is larger that stop.

## List and mutable object

In [17]:
L = ["I did it all", 4, "love"]
for i in range(len(L)):
    print(L[i])

I did it all
4
love

In [18]:
Techs = ["MIT","Caltech"]
Ivys = ["Harvard","Yale","Brown"]

In [19]:
Univ = [Techs, Ivys]
Univ1 = [ ["MIT","Caltech"], ["Harvard","Yale","Brown"]]

In [20]:
print(Univ==Univ1)

True

These two looks same. However, Univ and Univ is assigned to different object.

In [22]:
print(id(Univ)==id(Univ1))

False

In [25]:
print("Id of Univ =", id(Univ))
print("Id of Univ1 =", id(Univ1))

Id of Univ = 2240395480264
Id of Univ1 = 2240395304584

In addition, the elements of Univ1 is not same list of Univ.

In [28]:
print("ids of Univ[0] and Univ1[0]", id(Univ[0]), id(Univ1[0]))

ids of Univ[0] and Univ1[0] 2240395564424 2240395782344

Since list is mutable, we can append new element.

In [29]:
Techs.append("RPI")

In [30]:
Techs

['MIT', 'Caltech', 'RPI', 'RPI']

In [31]:
print(Univ)

[['MIT', 'Caltech', 'RPI', 'RPI'], ['Harvard', 'Yale', 'Brown']]

In [32]:
print(Univ1)

[['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

In [33]:
L1 = [1,2,3]
L2 = [4,5,6]
L3 = L1 + L2
print("L3 is", L3)

L3 is [1, 2, 3, 4, 5, 6]

In [34]:
L1.extend(L2)

In [35]:
print("L1 =", L1)

L1 = [1, 2, 3, 4, 5, 6]

In [36]:
L1.append(L2)
print("L1 =", L1)

L1 = [1, 2, 3, 4, 5, 6, [4, 5, 6]]

append method adds variables with the list structure.

extend method adds variables without the list structure.

In [37]:
L = [x**2 for x in range(1,7)]
print(L)

[1, 4, 9, 16, 25, 36]

In [41]:
def applyToEach(L1,f):
    """
    Arguments:
    L: list
    f: function
    
    Return:
    L: updated list
    """
    for i in range(len(L)):
        L[i] = f(L[i])

In [43]:
L= [1,-2,3.33]
print("L =", L)
applyToEach(L,abs)
print("L=", L)
applyToEach(L,int)
print("L=", L)

L = [1, -2, 3.33]
L= [1, 2, 3.33]
L= [1, 2, 3]

In [44]:
for i in map(abs,[1,-2,3.33]):
    print(i)

1
2
3.33

In [45]:
L1 = [1,28,36]
L2 = [2,57,9]
for i in map(min,L1,L2):
    print(i)

1
28
9

lambda x,y:x*y ,means x,y are input and output is x*y.

we can use this lambda function in map.

In [48]:
L = []
for i in map(lambda x,y: x**y, [1,2,3,4],[3,2,1,0]):
    L.append(i)

print(L)

[1, 4, 3, 1]

## Dictionary

In [51]:
monthNumbers = {"Jan":1,"Feb":2,"Mar":3,"Apr":4,"May":5,
                1:"Jan",2:"Feb",3:"Mar",4:"Apr",5:"May"}

In [52]:
print("The third month is " + monthNumbers[3])

The third month is Mar

In [53]:
dist = monthNumbers["Apr"] - monthNumbers["Jan"]

In [54]:
print("Apr and Jan are", dist, "month apart")

Apr and Jan are 3 month apart